/*CSS Document */

div, p, body, header, footer, section, article, nav {
  margin: 0;
  padding: 0;

}
img {
  margin: 0;
  padding: 0;
}
/*HTML selectors */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: none;
}
.hidden {
  display: none;
}
.siteContainer {
  margin: 0 auto;
  width: 980px;
  padding-left: 20px;
  padding-right: 20px;
}
#mainHeader {
  width: 980px;
  align-items: center;
  margin-top: 30px;
  position: relative;
  margin: 0 auto;
  padding-top: 60px;
}
#logo {
  width: 150px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  padding-top: 20px;
  margin-left: -50px


}
#mainNav {
  width: 980px;
  margin: 0 auto;
}
#mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;

}
#mainNav ul li {
  display: inline-block;
  cursor: pointer;
  float: none;
}
#mainNav ul li:nth-child(1) {
  float: left;
}
#mainNav ul li:nth-child(2) {
  float: left;
}
#mainNav ul li:nth-child(3) {
  float: left;
}
#mainNav ul li a {
  color: #ce9f66;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: block;


}
#mainNav ul li a.current {
  color: #535037;
}
#mainNav ul li a:hover {
  color: #789;
}
#promoText {
  width: 980px;
  height: 400px;
  background-image: url(../images/hero_image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
#promo {
  margin-top: 40px;
}
#promoText h2 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  padding-top: 150px;
  padding-left: 40px;
  line-height: 36px;
}
#promoText p {
  color: white;
  padding-left: 40px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;

}
#promoText a {
  border: solid 2px #fcfcf8;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 40px;

}

#welcome {
  margin-top: 30px;
  text-align: center;
}
#welcome h3 {
  font-size: 24px;
  font-weight: bold;
  color: #535037;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#welcome p {
  font-size: 14px;
  color: #ce9f66;
  line-height: 16px;
}
#features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;

}

#features img {
  width: 30%;
  margin-bottom: 20px;
}
#features h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #535037;
  margin-bottom: 10px;
}
#features p {
  font-size: 14px;
  color: #ce9f66;

}
/* Animation bounceinleft */
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}
/* End animation bounce inleft*/

#highlight {
  margin-top: 30px;
  text-align: center;
  background-image: url(../images/beer_highlight.jpg);
  background-repeat: no-no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
}
#highlight h3 {
  font-size: 14px;
  color: white;
  padding-top: 200px;
}
#highlight p {
  font-size: 24px;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}
#highlight a {
  font-size: 12px;
  border: 2px solid white;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}
#discover {
  margin-top: 30px;
  text-align: center;
}
#discover h3 {
  font-size: 24px;
  font-weight: bold;
  color: #535037;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#discover p{
  font-size: 14px;
  color: #ce9f66;
  line-height: 16px;
}
#offers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  margin-bottom: 30px;

}
.offer1 {
  width: 300px;

}
.offer1:hover {
  box-shadow: 10px 10px 10px #e5d0b6;
}
.offer2 {
  width: 300px;
}
.offer2:hover {
  box-shadow: 10px 10px 10px #e5d0b6;
}
.offer3 {
  width: 300px;
}
.offer3:hover {
  box-shadow: 10px 10px 10px #e5d0b6;
}
#offers h4 {
  font-size: 16px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  color: #535037;
  padding-left: 10px;
  padding-right:10px;
}
#offers p {
  font-size: 14px;
  color: #535037;
  margin-bottom: 20px;
  line-height: 20px;


}
#offers a {
  border: 2px solid #c69c6d;
  padding: 10px;
  color: #535037;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
.box1 {
  background-color: #f6f3ee;
  height: 150px;
  padding-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;


}

.box2 {
  background-color: #f6f3ee;
  height: 150px;
  padding-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  padding-bottom: 15px;
}
.box3 {
  background-color: #f6f3ee;
  height: 150px;
  padding-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  padding-bottom: 15px;
}
/* Animation zoomIn */
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/* End animation zoomIn*/
#mainFooter {
  width: 980px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

}
#footerNav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 980px;
  padding-top: 20px;
  background-color: #e5d0b6;
  padding-bottom: 15px;

}
#footerNav h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #535037;
  margin-bottom: 7px;

}
#footerNav p {
  font-size: 13px;

}
.info1 {
  width: 200px;


}
.info1 ul {
  padding: 0;
  list-style-type: none;
  margin-left: 0;

}
.info1 ul li {
  font-size: 13px;
  cursor: pointer;
}
.info1 ul li a {
  color: #535037;
  line-height: 20px;
}
.info1 ul li a:hover {
  color: #789;
}
.info2 {
  line-height: 20px;
  color: #535037;
  width: 300px;


}
.info3 {
  width: 300px;

}
.info3 ul {
  padding: 0;
  list-style-type: none;
  width: 300px;
  margin-top: 30px;
}
.info3 ul li {
  display: inline;
}
#copyRight {
  margin-top: 15px;
  color: #535037;
}

/* Products Page */

#promoText2 {
  width: 980px;
  height: 400px;
  background-image: url(../images/hero_image_products.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
#promo2 {
  margin-top: 40px;
}
#promoText2 h2 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  padding-top: 150px;
  padding-left: 40px;
  line-height: 36px;
}
#promoText2 p {
  color: white;
  padding-left: 40px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;

}
#promoText2 a {
  border: solid 2px #fcfcf8;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 40px;

}
#sort {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-top: 30px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 14px;
  font-weight: bold;
}
.default {
  margin-top: -10px;
  margin-left: 400px;
  border: 2px solid #e1e1e1;
  padding: 10px 200px 10px 10px;
  margin-bottom: 20px;
}
#product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
  margin-top: 40px;
  text-align: center;

}
.productCon {
  width: 300px;
}
.productCon img {
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;

}
/* animation bounceout */
@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}
/* end animation bounceout */
.productCon h3 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;

}
.productCon h4 {
  font-size: 16px;
  margin-top: 10px;
}
.productCon p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;

}
.left {
  float: left;
  padding-left: 50px;
}
.right{
  float: right;
  padding-right: 50px;
  color: #d57b02;
}
.loadmore {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 30px;
  font-weight: bold;

}
.loadmore a{
  border: 2px solid #ce9f66;
  padding: 15px;
  color: #ce9f66;

}

/* Blogs Page */
#promoText3 {
  width: 980px;
  height: 400px;
  background-image: url(../images/hero_image_blogs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
#promo3 {
  margin-top: 40px;
}
#promoText3 h2 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  padding-top: 150px;
  padding-left: 40px;
  line-height: 36px;
}
#promoText3 p {
  color: white;
  padding-left: 40px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;

}
#promoText3 a {
  border: solid 2px #fcfcf8;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 40px;

}
#blogCon {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blogPromo {
  width: 500px;
}
.blogPromo h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: bold;
  color: #535037;

}
.blogPromo h4 {
  font-size: 16px;
  margin-top: 10px;
  color: #535037;
}
.blogPromo p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 18px;
  color: #535037;
  margin-bottom: 20px;

}
.blogPromo a {
  border: 2px solid #ce9f66;
  padding: 10px;
  text-transform: uppercase;
  color: #535037;
}
.button {
  padding-top: 10px;
  padding-bottom: 30px;
}
.smallBlog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blogImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.blogImg h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #535037;
  font-size: 16px;

}
.smallBlog h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #535037;
  margin-bottom: 40px;


}
.smallBlog1 {
  margin-left: 10px;
  width: 150px;
  margin-top: 10px;
}
.smallBlog1 p{
  font-size: 14px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #535037;

}
#blogCon img {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}
/* animation fadeInDown start here --*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/* End animation FadeinDown */

/* About us Page */

#promoText4 {
  width: 980px;
  height: 400px;
  background-image: url(../images/hero_image_aboutus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
#promo4 {
  margin-top: 40px;
}
#promoText4 h2 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  padding-top: 150px;
  padding-left: 40px;
  line-height: 36px;
}
#promoText4 p {
  color: white;
  padding-left: 40px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;

}
#promoText4 a {
  border: solid 2px #fcfcf8;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 40px;

}
#original {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}
.originalText {
  width: 500px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  margin-top: 50px;
}
.originalText h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #535037;
  margin-bottom: 20px;
}
.originalText p {
  font-size: 14px;
  color: #ce9f66;
  line-height: 18px;
}
#serve {
  text-align: center;
  margin-top: 30px;
  background-image: url(../images/beer_serve.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  color: white;
}
#serve h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 20px;
}
#serve p {
  width: 400px;
  margin-left: 300px;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 20px;
}
#serve a {
  font-size: 12px;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 10px;
  color:white;
}
#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  animation-duration: 1s;
  animation-delay: 2s;

}
#icons img {
  width: 100px;
}
#icons h4 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: #535037;
}
#icons p {
  font-size: 14px;
  color: #ce9f66;
  margin-top: 7px;

}
/* animation Rollin */
@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}
/* close animation rollIn */
/* animation flash start here */
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
/* End animation flash */
